doctype html
html.no-js(lang='ru')
    include components/service/_head

    body
      header.header
      main.main.clearfix
        .cell.main__box-left
          img.img-w100-desktop(src="images/img-1.jpg", alt="")
        .cell.main__box-center
          img.img-lists(src="images/images-1.jpg", alt="")
          img.img-lists(src="images/images-2.jpg", alt="")
          img.img-lists(src="images/images-3.jpg", alt="")
          img.img-lists(src="images/images-4.jpg", alt="")
          img.img-lists(src="images/images-5.jpg", alt="")
          img.img-lists(src="images/images-6.jpg", alt="")
          img.img-lists(src="images/images-7.jpg", alt="")
          img.img-lists(src="images/images-8.jpg", alt="")
        .cell.main__box-right
          img.img-w100-desktop(src="images/img-2.jpg", alt="")
        .cell.main__box-mobile
          img.img-mobile(src="images/image.jpg", alt="")
          img.img-mobile(src="images/image.jpg", alt="")
      footer.footer





      include components/service/_js
