head
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='copyright', content='Start build project (SBP), 2018')
    meta(name='author' content='Start build project (SBP)')
    meta(name='cmsmagazine', content='f21b68cb09efe1a7161ca2caaacaf749')
    block head
    title= pageTitle || 'Start build project (SBP)'
      //- - var pageTitle = 'Рядовая';

    link(rel='stylesheet', href='css/style.css')
